/* General body */
body {
  background-color: #cd8528; /* beige */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Navbar color tweak */
.navbar-dark.bg-dark {
  background-color: #2c3e50 !important;
}

/* Buttons */
.btn-primary {
  background-color: #8e44ad;
  border-color: #8e44ad;
}

.btn-primary:hover {
  background-color: #732d91;
  border-color: #732d91;
}
